<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%- partial('_partial/busuanzi') %>
            </div>
            <div class="col-sm-12">
                <span>Copyright &copy; <%= theme.since %>
                </span> |
                <span>
                    huangweiliang
                </span>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
